<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Simple Flask APP{% endblock %}</title>
    <!-- Bootstrap themes -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- FontAwesome! -->
    <script src="https://use.fontawesome.com/4bd6eafb83.js"></script>
    <!-- Our themes -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript">
    $(document).ready(function(){
        $("input[type=text], input[type=password], textarea, select").addClass("form-control");
        $("input[type=submit]").addClass("btn");
        $("input[id=submit]").addClass("btn-success");
        $("input[id=cancel]").addClass("btn-danger");
    });
</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/">На главную</a>
                </li>
                <li>
                    <form action="{{ url_for('search') }}" name="Search" style="padding-top:0.7rem;">
                        <input type="text" name="search" placeholder="Search Here" autocomplete="off">
                    </form>
                </li>
                <li>
                    <a href="{{ url_for('search') }}" onclick="document.forms['Search'].submit(); return false;">Поиск</a>
                </li>
                <li style="float:right">
                    {% if 'username' in session %}
                        <a href="{{ url_for('logout') }}"><b>Выйти</b></a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Войти</a>
                    {% endif %}
                </li>
                <li style="float:right">
                    {% if 'username' in session %}
                        <a href="{{ url_for('admin') }}">Admin</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="content">{% block content%}{% endblock %}</div>
    <div class="footer">
        <strong>Сделано на:</strong> Flask и MySQL
    </div>
</body>
</html>
