{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Текст
        </th>
        <th>
            Дней до выполнения
        </th>
        <th>
            Выполнено?
        </th>
        <th>

        </th>
    </tr>
    {% for row in matches %}
    <tr>
        <td>
            {{ row[0] }}
        </td>
        <td>
            {{ row[1] }}
        </td>
        <td>
            {{ (row[2] - time_now).days }}
        </td>
        <td>
            {% if row[3]==0 %}
                <i class="fa fa-times" aria-hidden="false"></i>
            {% else %}
                <i class="fa fa-check" aria-hidden="false"></i>
            {% endif %}
        </td>
        <td>
            <a href="{{ url_for('edit', ids=row[0]) }}">Редактировать</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}